
body {
    font-family: 'Montserrat',
    sans-serif;
    
}

/* main styles */

.main {
    display:flex;
    flex-direction: row-reverse;
    
    width: 1200px;
    margin: 0 auto;
}

.main-content {
    background-color: #FFFFFF;
    box-shadow:  rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;   
    padding: 46px 90px;
}

/* about styles  */

.about {
    margin-bottom: 40px;
}

.about-position {
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 17px;
color: #000;
margin-bottom: 30px;
}

.about-name {
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 55px;
color: #000;
margin-bottom: 35px;
margin-top:0px;
}

.about-description {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: #000;
width: 600px;
}

/* project files */

.projects {
 margin-bottom: 50px;
}
.projects-list {
    padding: 0;
    margin-left: 15px;
}


.project-item {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000;
    text-decoration: none;
    list-style: none;
}

.my-projects-item,
.my-projects-bracket {
    color: #000;
    font-weight: bold;
    list-style: none;
}

.my-projects-link {
    color: #000;
}

.my-projects-text {
    color: #000;
}

.my-projects-description {
    font-weight: 400;
    color: #000;
}

/* work styles */


.work-position {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #000;
    margin-bottom: 10px;
}

.organization {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #fb6d3a;
}

.period {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #000;
    margin-bottom: 10px;
}

.line {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #000;
}

.work-list {
    padding: 0;
    margin-left: 15px;
}

.work-list-item {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #000;
    margin-bottom: 10px;
}

/* education styles */


.title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #000;
    margin-bottom: 10px;
}

.university-name {
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 20px;
color: #fb6d3a;
margin-bottom: 10px;
}

.spesiality {
    font-style: normal;
    font-weight: normal;
        font-size: 14px;
        line-height: 24px;
    
    color: #000;
    margin-bottom: 10px;
}

.education-time {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #000;
}

/* sidebar styles */

.sidebar {
    background-color: #1E2939;
    padding-top: 40px;
    width: 370px;
    /* box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; */
}

.photo{
    width: 370px;
}

.contacts, .tech-skills {
    margin-left: 40px;
}

.contacts {
    margin: 30px 0px 0px 40px;
}

.tech-skills {
    margin: 50px 0 0 40px;
}

.sidebar-title {
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}

.contact-type {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 10px;
}

.soc__icon {
    width: 20px;
    height: 20px;
    fill: white;
}

.contact-link {
color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
text-decoration: underline;
}


.tech-skills-list {
    color: #FFFFFF;
    padding: 0;
    margin-left: 17px;
   
}

.tech-skills-item {
    color: #fb6d3a;
}

.tech-skills-text {
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 10px;
}

.soft-skills {
    margin-left: 40px;
}

.soft-skills-title {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 10px;
}

.soft-skills-list {
color: #FFFFFF;
padding: 0;
margin-left: 15px;

}

.soft-skills-item {
    color: #fb6d3a;
}

.soft-skills-text {
color: #FFFFFF;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
padding-bottom: 10px;
}

